.nav-link{
  font-family:Roboto;
  color:rgb(96, 125, 139);	
  font-size: 14px;
  font-weight: 900;     
}
.sticky-top{
  background-color: #f7f7f7;
}
.prf1{
  font-size: 18px;
  font-weight: 900;
}
.prf{
  font-size: 18px;
  font-weight: 900;
}  
