<header class="sticky-top">
  <nav class="navbar navbar-expand-sm">  
    <ul class="navbar-nav mx-auto">
     <a class="nav-link" href="#"><strong><span class="prf">MY</span><span class="prf1">PROFILE</span></strong></a>
    </ul>
   <ul class="nav navbar-nav mx-auto">
	    <li>
	      <a class="nav-link" href="#">HOME</a>
	    </li>
	    <li>
	      <a class="nav-link" href="#">ABOUT</a>
	    </li>
	    <li>
	      <a class="nav-link" href="#">FEEDBACK</a>
	    </li>
	    <li>
	      <a class="nav-link" href="#">SKILLS</a>
	    </li>
	    <li>
	      <a class="nav-link" href="#">CONTACT</a>
	    </li>
      <li>
          <a class="nav-link" href="#">REGISTER</a>
      </li>
      <li>
          <a class="nav-link" href="#">LOGIN</a>
      </li>
   </ul>
  </nav>
 </header>
