<main class="text-center pt-5">
	<span class="demo">Simplicity</span> <span class="spn"> is the soul of Efficiency</span>
    <h3 id="header">Front-end Developer</h3>
    <div>
    	<p class="prf p-1">I design and code beautifully simple things, and I love what I do.</p>
    </div>
    <div class="p-4">
    	<img src="../../assets/image/DSC_0175.JPG" class="img_circle">
    </div>
    <div style="background-color: #f7f7f7;">
    	<img src="../../assets/image/set-digital.jpg">
    </div>/
</main>
<section>
    <div class="content text-center py-4">
        <h3 class="para">Hiii..! I’m Akshay. Nice to meet you.</h3>
          <div class="para1">
            <div class="details-about pb-3">
                A Frontend Web Developer And Upcoming Mean Stack / Full Stack Web Developer. Skilled in HTML5, CSS3, Bootstrap, JavaScript, JQuery ,AngularJS (Beginner), Angular8 (Intermediate), NodeJS (Beginner), Java (Intermediate), PHP, WordPress, Joomla, Laravel, MYSQL, Android. Strong Information Technology professional post graduated from Medicaps University. The only thing I want to be associated with an organization that provides an opportunity for a challenging where I can utilize my Knowledge,Skills and Potential for profession. I would also like to make positive contribution towards the organization through promoting team spirit and professional growth of the self Interested in taking innitiative Before that Please explore my website Firstly
                at the point backend Development Front-end web development, also known as client-side development is the practice of producing HTML, CSS and JavaScript for a website or Web Application so that a user can see and interact with them directly. The challenge associated with front end development is that the tools and techniques used to create the front end of a website change constantly and so the developer needs to constantly be aware of how the field is developing is this
            </div>
        </div>
      </div>
</section>
