<div class="well text-center p-5">
    <div class="col-md-12"><h3 class="head">Technical Tools</h3></div>
    <div class="row">
        <div class="col-md-4 p-5">
           <h5 class="col-sm-4" class="fnt">Frontend Development</h5>
           <p class="fnt pt-1">A front-end developer architects and develops websites and applications using web technologies (i.e., HTML, CSS, DOM, and JavaScript), which run on the Open Web Platform or act as compilation input for non-web platform environments in Frontend</p>
             <ul class="list">  
                <li>Html</li>
                <li>Css</li>
                <li>Javascript</li>
                <li>Angular</li>
                <li>Bootstrap</li>
              </ul>                 
        </div>
    <div class="col-md-4 p-5">
            <h5 class="col-sm-4" class="fnt">Backend Development</h5>
            <p class="fnt pt-1">A back-end web developer is responsible for server-side web application logic and integration of the work front-end developers do. Back-end developers are usually write the web services and APIs used by front-end developers and for the backend also</p>
            <ul class="list">  
                <li>Python</li>
                <li>NodeJs</li>
                <li>Java</li>
                <li>Mysql</li>
                <li>Javascript</li>
            </ul>                 
    </div>
        <div class="col-md-4 p-5">
          <h5 class="col-sm-4" class="fnt">IDE Tools Development</h5>
          <p class="fnt pt-1">An IDE normally consists of at least a source code editor, build automation tools and a debugger. Some IDEs, such as NetBeans and Eclipse, contain the necessary compiler and interpretor and by the users Also all the backend part is here in this in the IDE</p>
            <ul class="list">  
                <li>Eclipse</li>
                <li>Netbeans</li>
                <li>Sublime</li>
                <li>VS Code</li>
                <li>SQLYOG</li>
            </ul>                 
        </div>
    </div>
</div>

<section class="section pt-5">
    <div class="container">
      <h2 class="text-center">Skills</h2>
       <div class="row p-4">
       <div class="col-sm-12 col-lg-6">
      <label>HTML5</label>
      <div class="progress">
         <div class="progress-bar bg-primary" style="width:60%">60%</div>
      </div>
      <label>CSS</label>
       <div class="progress">
         <div class="progress-bar bg-primary" style="width:50%">50%</div>
       </div>
      <label>Javascript</label>
       <div class="progress">
         <div class="progress-bar bg-primary" style="width:70%">70%</div>
       </div>
      <label>JAVA</label>
       <div class="progress">
         <div class="progress-bar bg-primary" style="width:50%">60%</div>
       </div>
      <label>Bootstrap</label>
       <div class="progress">
         <div class="progress-bar bg-primary" style="width:60%">40%</div>
       </div>
     </div>

     <div class="col-sm-12 col-lg-6">
      <label>Angular</label>
      <div class="progress">
         <div class="progress-bar bg-primary" style="width:60%;height:20px">60%</div>
      </div>
      <label>SQLYOG</label>
       <div class="progress">
         <div class="progress-bar bg-primary" style="width:75%;height:20px">50%</div>
       </div>
      <label>CProgramming</label>
       <div class="progress">
         <div class="progress-bar bg-primary" style="width:70%;height:20px">70%</div>
       </div>
      <label>JAVA</label>
       <div class="progress">
         <div class="progress-bar bg-primary" style="width:90%;height:20px">60%</div>
       </div>
       <label>C++</label>
       <div class="progress">
         <div class="progress-bar bg-primary" style="width:50%;height:20px">60%</div>
       </div>
    </div>
  </div>
</div>
</section>
    